In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats

from sqlalchemy import create_engine # database connection
import datetime as dt
from IPython.display import display

import matplotlib.pyplot as plt
%matplotlib inline

Data during 2013 August, 12,597,109 rides in total

In [5]:
disk_engine = create_engine('sqlite:///trip_data_2013_08.db')

In [16]:
df = pd.read_sql_query('SELECT * FROM trip_data LIMIT 10', disk_engine)
df.tail(50)

,index,Unnamed: 0,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,...,dropoff_lat,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount,pickup_LocationID,dropoff_LocationID
0,0,0,3418135604CD3F357DD9577AF978C5C0,B25386A1F259C87449430593E904FDBC,VTS,1,None,2013-08-30 07:57:00,2013-08-30 08:30:00,5,...,40.758766,CSH,41.5,0.0,0.5,0.0,0.00,42.00,132.0,7.0
1,1,1,6D3B2A7682C30DCF64F3F12976EF93B6,A603A9D5FAA46E8FF2A97A143328D938,CMT,1,N,2013-08-30 23:26:23,2013-08-30 23:46:01,2,...,40.764595,CSH,31.0,0.5,0.5,0.0,5.33,37.33,138.0,163.0
2,2,2,6D49E494913752B75B2685E0019FF3D5,3F0BFE90A5D71741840B25600A89E225,CMT,1,N,2013-08-30 09:18:10,2013-08-30 09:24:08,1,...,40.742924,CSH,5.5,0.0,0.5,0.0,0.00,6.00,186.0,234.0
3,3,3,4C4A0AFC432A1A87E97ED8F18403FF6E,BA20A20E2CF85EF7B00162D711394C7E,CMT,1,N,2013-08-26 23:27:11,2013-08-26 23:42:49,4,...,40.721886,CSH,23.0,0.5,0.5,0.0,5.33,29.33,161.0,160.0
4,4,4,1258CA1DF5E2A9E9A9F7848408A7AAEB,8C14DCF69CAA2A9A0DFAFD99E00536A1,CMT,1,N,2013-08-29 10:57:56,2013-08-29 11:19:06,2,...,40.767578,CSH,14.0,0.0,0.5,0.0,0.00,14.50,186.0,50.0
5,5,5,3B0E8DC736D1E0D35C698D7B0BF9CBFA,95E1B89BC718FB1DC76B939937E043F3,CMT,1,N,2013-08-27 11:37:45,2013-08-27 12:00:58,1,...,40.743946,CSH,31.5,0.0,0.5,0.0,5.33,37.33,138.0,170.0
6,6,6,1A575E39B0D761E6496F002F79E34D19,FAE278EFC2171382209D06992A5FE59D,CMT,1,N,2013-08-29 05:41:52,2013-08-29 05:55:23,3,...,40.717392,CSH,13.0,0.5,0.5,0.0,0.00,14.00,48.0,148.0
7,7,7,A30A0C08B1331EC905B012947F22081F,B56ECCC02B67AD98E9EBEFB0E8A9FB6D,CMT,1,N,2013-08-28 19:53:06,2013-08-28 20:21:04,1,...,40.730167,CSH,31.5,1.0,0.5,0.0,5.33,38.33,138.0,114.0
8,8,8,EF74C4639B1D4D28B88DBCF0694DC821,3251A220F065378A4E35BE26E611DA8D,CMT,1,Y,2013-08-26 01:08:13,2013-08-26 01:19:52,1,...,40.769341,CSH,13.0,0.5,0.5,0.0,0.00,14.00,114.0,142.0
9,9,9,C647516A7B73EC8105E8DE5494B4CDB9,80C4140E2FE178B8549FE2825D49238F,CMT,1,N,2013-08-27 21:59:29,2013-08-27 22:10:07,1,...,40.730488,CSH,10.5,0.5,0.5,0.0,0.00,11.50,162.0,114.0

In [20]:
df = pd.read_sql_query('SELECT * FROM trip_data ORDER BY pickup_datetime ASC', disk_engine)
df.head()

,index,Unnamed: 0,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,...,dropoff_lat,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount,pickup_LocationID,dropoff_LocationID
0,11901,12127,F5BD51C544CA21C66E7706716DA74D60,87761E7EE2E9F268E357C6BC66D99464,CMT,1,Y,2013-08-25 03:23:08,2013-08-25 03:31:09,1,...,40.738728,CSH,8.0,0.5,0.5,0.0,0.0,9.0,231.0,234.0
1,1904,1932,F5BD51C544CA21C66E7706716DA74D60,1E85B76B387E9439BF4B07F35F971B99,CMT,1,Y,2013-08-25 03:25:36,2013-08-25 03:40:32,1,...,40.770901,CSH,13.5,0.5,0.5,0.0,0.0,14.5,226.0,140.0
2,12249,12480,F5BD51C544CA21C66E7706716DA74D60,1E85B76B387E9439BF4B07F35F971B99,CMT,1,N,2013-08-25 03:35:58,2013-08-25 03:46:23,1,...,40.754749,CSH,8.0,0.5,0.5,0.0,0.0,9.0,164.0,100.0
3,12849,13086,F5BD51C544CA21C66E7706716DA74D60,1E85B76B387E9439BF4B07F35F971B99,CMT,1,Y,2013-08-25 03:44:04,2013-08-25 03:56:36,1,...,40.784752,CSH,10.5,0.5,0.5,0.0,0.0,11.5,263.0,239.0
4,11902,12128,F5BD51C544CA21C66E7706716DA74D60,1E85B76B387E9439BF4B07F35F971B99,CMT,1,N,2013-08-25 03:55:21,2013-08-25 04:08:19,1,...,40.751671,CSH,9.5,0.5,0.5,0.0,0.0,10.5,163.0,100.0